VITE_API_URL=http://localhost:3000
VITE_DISCORD_INVITE=
VITE_DISCORD_CLIENT_ID=
VITE_DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_RAW_PRESET=portfolio_raw