# MongoDB
MONGO_URI=mongodb://root:rootpass@localhost:27018/portfolio?authSource=admin
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=rootpass
MONGO_DB=portfolio

# Auth
JWT_SECRET=change_me_to_a_long_random_secret

# Mongo Express
ME_CONFIG_BASICAUTH=admin:admin

# App
NODE_ENV=development
PORT=3000
